body {
    margin: 0;
    font: 15px serif;
    color: #fff;
    background: white;
}

.logo {
    display: block;
    width: 175px;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
    text-decoration: none;
    color: pink;
}

.centered {

}

.button {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 1ps solid currentColor;
    border-radius: 3px;
    margin: 0;
}
