body {
    margin: 0;
    font: 15px serif;
    color: #222;
    background: white;
}

.logo {
    display: block;
    width: 175px;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 1em;
    font-style: normal;
    text-decoration: underline;
    color: pink;
}