body {
    margin: 0;
    font:  15px sans-serif;
    color: #fff;
    background: hotpink;
}

.logo {
    display: block;
    width: 300px;
    margin: 0;
    border: 10px solid red;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    color: pink;
}

.centered {
	text-align: center;
}

.button {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
    border: 1ps solid currentColor;
    border-radius: 100%;
    margin: 40px 0;
}
